#wrapper{width:290px !important;}
body{font-size:10px !important;}
#feedback-tab{disaply:none !important;}
#new-ticket-button input{width:75% !important;}
#new-ticket-button select{width:25% !important;}
#nav{font-size:0.8em !important;}