<div class="right">
	<div class="social">
		<a href="/tickets.rss" title="Subscribe"><img src="/images/feed.gif" alt="feed" /></a> 
		<a href="http://del.icio.us/post?url=http%3A%2F%2Fticketapp.com&amp;title=Tickets%20-%20It%27s%20kinda%20like%20Twitter" title="Submit to Del.icio.us"><img src="/images/delicious.gif" alt="Del.icio.us" /></a> 
		<a href="http://digg.com/submit?phase=2&amp;url=http%3A%2F%2Fticketapp.com&amp;title=Tickets%20-%20It%27s%20kinda%20like%20Twitter" title="Submit to Digg"><img src="/images/digg.gif" alt="Digg" /></a> 
		<a href="http://www.stumbleupon.com/submit?url=http%3A%2F%2Fticketapp.com&amp;title=Tickets%20-%20It%27s%20kinda%20like%20Twitter" title="Submit to StumbleUpon"><img src="/images/stumbleUpon.gif" alt="StumbleUpon" /></a>
	</div>
</div>