<% @page_title = "Forgotten Password" %>

<h1>Forgotten Password</h1>

<div class="ticket">
	<h2>Get back into your account if you forgot your password</h2>
	<p>If you have forgotten your password or accidently deleted your activation email then you've come to the right place. </p>
	<p>Please enter the <b>email</b> address of your account below and we'll sort out the rest.</p>

	<%= error_messages_for :email %>

	<% form_for :email do |f| %>
		<p><label for="email">Email Address</label><br /><%= text_field_tag 'email' %></p> 
		<p><%= submit_tag 'Retrieve Password' %></p>
	<% end %>
	<p class="note">If you've forgotten your email as well, <%= link_to "Contact us here", new_feedback_path %></p>
</div>